.control {
  display: flex;
  margin: 20px 35px;
  height: 35px;
  align-items: center;
}

.control label {
  width: 30%;
  display: flex;
  height: 27px;
}

.control input {
  width: 70%;
  outline: none;
  border: 3px solid black;
  height: 35px;
}

.type {
  text-align: center;
}

.type div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: 0 auto;
}

@media (max-width: 768px) {
}
